[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdbpp = "*"
tk = "*"
PyPDF2 = "*"
Pillow = "*"
pypdf2 = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
